/docs
/SeattlePages
/zagat
*.py
*.log
*.7z
*.sh
*.md
*.java
/web/attributeMapping
/web/extractionsData
/web/feedback.txt
/web/mobile
/web/node_modules
/web/placeData
/web/placeDataDetailed
/web/polarityData
/web/public/css
/web/reviewData
/web/similarData
/web/public
