/docs
/SeattlePages
/zagat
*.py
*.log
*.7z
*.sh
*.md
DirectoryTagger.java
/android/.classpath
/android/.project
/android/.settings
/android/bin/
/android/src/.metadata/
/web/attributeMapping
/web/extractionsData
/web/feedback.txt
/web/mobile
/web/node_modules
/web/placeData
/web/placeDataDetailed
/web/polarityData
/web/public/css
/web/reviewData
/web/similarData
/web/public/diagram.png
/web/public/dir-e.png
/web/public/dir-n.png
/web/public/dir-ne.png
/web/public/dir-nw.png
/web/public/dir-s.png
/web/public/dir-se.png
/web/public/dir-sw.png
/web/public/dir-w.png
/web/public/favicon.ico
/web/public/green-check.png
/web/public/logo.png
/web/public/mobile
/web/public/paper.png
/web/public/question-mark.png
/web/public/red-x.png
/web/public/search.png
